
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Urldemo", "Special")?Id=9803325408">Try 1</a>
<p>
    In this demonstration, (9803325408) username will directly issue tokens with out logging into
    sports pass account.
    (username must be encrpted to before sending to other server and decrypted username will pass to sports pass
    server.(i.e encryption takes place in mobile app and decrypted to its server and then from that server 
    request will made it to sports pass server))
</p>

